In [1]:
a= "*"
b = " " * 2 + a
c = " " + (a * 3)
d = a * 5
print(b + "\n" + c + "\n" + d)

  *
 ***
*****

In [3]:
n = int(input('Enter an integer: '))
p = n/2
print(p)

Enter an integer:  10

5.0

In [4]:
n = int(input())
p = n%2
print(n, bool(p))

 21

21 True

In [5]:
n = int(input('Enter an integer: '))
p = bool(n//2)
print(n + "\n" + "Is the integer odd: " + p)

Enter an integer:  20

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
print("one, " + 1)

TypeError: can only concatenate str (not "int") to str

In [7]:
n = int(input('Enter an integer: '))
p = n//2
l = n%2
print(n, bool(p), bool(l))

Enter an integer:  20

20 True False

In [8]:
n = int(input('Enter an integer: '))
p = n%2
l = str(bool(p))
print(str(n) + "\n" + "Is the integer odd: " + l )

Enter an integer:  20

20
Is the integer odd: False

In [9]:
n = int(input('Enter an integer: '))
p = n%2
l = str(bool(p))
print("Is the integer odd: " + l )

Enter an integer:  21

Is the integer odd: True

In [10]:
y = int(input())
ly = bool(y//4)
print(ly)

 2000

True

In [11]:
y = int(input())
ly = bool(y//4)
print(ly)

 2001

True

In [12]:
y = int(input())
ly = bool(y%4)
print(ly)

 2000

False

In [13]:
y = int(input())
ly = bool(y%4 != 0)
print(ly)

 2000

False

In [14]:
y = int(input())
ly = bool(y//4 != 0)
print(ly)

 2000

True

In [15]:
y = int(input())
ly = bool(y//4 != 0)
print(ly)

 2001

True

In [16]:
y = int(input())
ly = bool(y%4 ==0)
print(ly)

 2000

True

In [20]:
y = int(input())
ly = bool(y%4 == 0)
print(ly)

 2000

True

In [22]:
age = 18
if age < 20:
    print('Youth discount')

Youth discount

In [34]:
age = input()
if type(int(age)):
 print('Youth discount')

 y

ValueError: invalid literal for int() with base 10: 'y'

In [4]:
n = int(input())
if(n % 2 == 0 and n > 0 and n <= 100):
    print(n + bool(n))
else:
    print("wrong")

 22

23

In [7]:
import random

n = random.randint(1, 3)
if n == 1 :
    computer_choice = "left"
elif n == 2:
    computer_choice = "middle"
else:
    computer_choice = "right"

user_choice = input("Which side will you attack?(left, middle, right) : ")
if computer_choice == user_choice:
    print("Offense failed")
else:
    print("Congrats: Offense succeded")
print("Computer Offense position:", computer_choice)

Which side will you attack?(left, middle, right) :  right

Congrats: Offense succeded
Computer Offense position: left

In [37]:
user_time = int(input())
if user_time >= 500 and user_time <= 1200:
    greeting = "Good morning"
elif user_time > 1200 and user_time <= 1600:
    greeting = "Good afternoon"
elif user_time > 1600 and user_time <= 2000:
    greeting = "Good evening"
elif user_time > 2000 and user_time <= 2400:
    greeting = "Good night"
elif user_time > 2400:
    greeting = "See you tomorrow"
else:
    greeting = "See you tomorrow"
print("It is: ", user_time, " ", greeting)

 344

It is:  344   See you tomorrow

In [2]:
order = int(input())

if order == 1:
    fruit = "Apple"
    price = 5000   
elif order == 2:
    fruit = "Grape"
    price = 6000    
elif order == 3:
    fruit = "Melon"
    price = 8000    
else:
    fruit = "Orange"
    price = 2000

count = int(input())

print('Fruit selected: ', fruit)
print('Price: ', price)
print('Quantity: ', count)
print('Total price is: ', price * count, 'won.')
    
money = int(input('Insert money please (ex: 5000) >>>'))

if money < price * count:
    print('Not enough money.')
else: 
    change = money - price * count
    print(money, 'won received: Your change is', change, 'won')

 3
 5

Fruit selected:  Melon
Price:  8000
Quantity:  5
Total price is:  40000 won.

Insert money please (ex: 5000) >>> 60000

60000 won received: Your change is 20000 won

In [3]:
#/////////////////////

In [5]:
my_id = "1831"
password = 'scict'
string1 = input("Enter Id: ")
string2 = input("Enter Password")
if string1 == my_id and string2 == password:
    print("Welcome")
elif string1 != my_id:
    print("Id not found")
else: 
    print("Password is missing")

Enter Id:  1831
Enter Password scict

Welcome

In [6]:
import random
n = random.int(input(1,3))

AttributeError: module 'random' has no attribute 'int'

In [7]:
n = random.randint(input(1,3))

TypeError: Kernel.raw_input() takes from 1 to 2 positional arguments but 3 were given

In [3]:
n = int(input("Enter the desired number for operation:"))
if n in range (1,5):
    print("Enter 2 numbers for operation.")
    val1 = int(input("num1:"))
    val2 = int(input("num2:"))
    if n == 1:
        op = "+"
        res = val1 + val2
    elif n==2:
        op = "-"
        res = val1 - val2   
    elif n==3:
        op = "*"
        res = val1 * val2    
    elif n==4:
        op = "/"
        res = val1 / val2
    print(val1,op,val2, "=", res)
else:
    print ("Entered an incorrect number.")

Enter the desired number for operation: 3

Enter 2 numbers for operation.

num1: 10
num2: 20

10 * 20 = 200

In [77]:

print("Welcome to yummy restaurant: Here is the menu." + "\n" + "-Burger (enter b)" + "\n" + "-Chicken(enter c)" + "\n" + "-Pizza(enter p)")

m = input("Choose menu (enter b,c,p):")
res = ""

if m not in "b, c, p":
    m = input("Choose menu (enter b,c,p):")
if m == "b":
    res = "Burger"
elif m == "c":
    res = "Chicken"
elif m == "p":
    res = "Pizza"

print("You choose:", res)

Welcome to yummy restaurant: Here is the menu.
-Burger (enter b)
-Chicken(enter c)
-Pizza(enter p)

Choose menu (enter b,c,p): w
Choose menu (enter b,c,p): p

You choose: Pizza

In [89]:
x = int(input("input x coordinate:"))
y = int(input("input y coordinate:"))
res =""
if x < 0 and y > 0:
    res = "It's 2 q"
elif x>0 and y>0:
    res = "It's 1q"
elif x>0 and y<0:
    res = "It's 4q"
elif x<0 and y<0:
    res = "It's 3q"
print(res)

input x coordinate: 6
input y coordinate: -6

It's 4q

In [94]:
let = input("Enter the alphabet:")
if let not in "a,e,i,o,u":
    res = " is a constant"
else:
    res = " is a vowel"

print(let + res)

Enter the alphabet: b

b is a constant

In [2]:
breads = ["Rye bread", "wheat", "white"]
meats = ["Meatball", "Sausage", "Chicken breast"]
vegis = ["Lettuce", "Tomato", "Cucumber"]
sauces = ["Mayonnaise", "Honey Mustard", "Chilli"]

print("Possible combinations of David's sandwich shop")
for b in breads:
    for m in meats:
        for v in vegis:
            for s in sauces:
                print(b + " + " + m + " + " + v + " + " + s)

Possible combinations of David's sandwich shop
Rye bread + Meatball + Lettuce + Mayonnaise
Rye bread + Meatball + Lettuce + Honey Mustard
Rye bread + Meatball + Lettuce + Chilli
Rye bread + Meatball + Tomato + Mayonnaise
Rye bread + Meatball + Tomato + Honey Mustard
Rye bread + Meatball + Tomato + Chilli
Rye bread + Meatball + Cucumber + Mayonnaise
Rye bread + Meatball + Cucumber + Honey Mustard
Rye bread + Meatball + Cucumber + Chilli
Rye bread + Sausage + Lettuce + Mayonnaise
Rye bread + Sausage + Lettuce + Honey Mustard
Rye bread + Sausage + Lettuce + Chilli
Rye bread + Sausage + Tomato + Mayonnaise
Rye bread + Sausage + Tomato + Honey Mustard
Rye bread + Sausage + Tomato + Chilli
Rye bread + Sausage + Cucumber + Mayonnaise
Rye bread + Sausage + Cucumber + Honey Mustard
Rye bread + Sausage + Cucumber + Chilli
Rye bread + Chicken breast + Lettuce + Mayonnaise
Rye bread + Chicken breast + Lettuce + Honey Mustard
Rye bread + Chicken breast + Lettuce + Chilli
Rye bread + Chicken breast + Tomato + Mayonnaise
Rye bread + Chicken breast + Tomato + Honey Mustard
Rye bread + Chicken breast + Tomato + Chilli
Rye bread + Chicken breast + Cucumber + Mayonnaise
Rye bread + Chicken breast + Cucumber + Honey Mustard
Rye bread + Chicken breast + Cucumber + Chilli
wheat + Meatball + Lettuce + Mayonnaise
wheat + Meatball + Lettuce + Honey Mustard
wheat + Meatball + Lettuce + Chilli
wheat + Meatball + Tomato + Mayonnaise
wheat + Meatball + Tomato + Honey Mustard
wheat + Meatball + Tomato + Chilli
wheat + Meatball + Cucumber + Mayonnaise
wheat + Meatball + Cucumber + Honey Mustard
wheat + Meatball + Cucumber + Chilli
wheat + Sausage + Lettuce + Mayonnaise
wheat + Sausage + Lettuce + Honey Mustard
wheat + Sausage + Lettuce + Chilli
wheat + Sausage + Tomato + Mayonnaise
wheat + Sausage + Tomato + Honey Mustard
wheat + Sausage + Tomato + Chilli
wheat + Sausage + Cucumber + Mayonnaise
wheat + Sausage + Cucumber + Honey Mustard
wheat + Sausage + Cucumber + Chilli
wheat + Chicken breast + Lettuce + Mayonnaise
wheat + Chicken breast + Lettuce + Honey Mustard
wheat + Chicken breast + Lettuce + Chilli
wheat + Chicken breast + Tomato + Mayonnaise
wheat + Chicken breast + Tomato + Honey Mustard
wheat + Chicken breast + Tomato + Chilli
wheat + Chicken breast + Cucumber + Mayonnaise
wheat + Chicken breast + Cucumber + Honey Mustard
wheat + Chicken breast + Cucumber + Chilli
white + Meatball + Lettuce + Mayonnaise
white + Meatball + Lettuce + Honey Mustard
white + Meatball + Lettuce + Chilli
white + Meatball + Tomato + Mayonnaise
white + Meatball + Tomato + Honey Mustard
white + Meatball + Tomato + Chilli
white + Meatball + Cucumber + Mayonnaise
white + Meatball + Cucumber + Honey Mustard
white + Meatball + Cucumber + Chilli
white + Sausage + Lettuce + Mayonnaise
white + Sausage + Lettuce + Honey Mustard
white + Sausage + Lettuce + Chilli
white + Sausage + Tomato + Mayonnaise
white + Sausage + Tomato + Honey Mustard
white + Sausage + Tomato + Chilli
white + Sausage + Cucumber + Mayonnaise
white + Sausage + Cucumber + Honey Mustard
white + Sausage + Cucumber + Chilli
white + Chicken breast + Lettuce + Mayonnaise
white + Chicken breast + Lettuce + Honey Mustard
white + Chicken breast + Lettuce + Chilli
white + Chicken breast + Tomato + Mayonnaise
white + Chicken breast + Tomato + Honey Mustard
white + Chicken breast + Tomato + Chilli
white + Chicken breast + Cucumber + Mayonnaise
white + Chicken breast + Cucumber + Honey Mustard
white + Chicken breast + Cucumber + Chilli

In [13]:
for i in range(-2, 3, 1):
    print(i, "Welcome everyone")

-2 Welcome everyone
-1 Welcome everyone
0 Welcome everyone
1 Welcome everyone
2 Welcome everyone

In [16]:
for _ in range(2):
    print(_)

0
1

In [21]:
 print(list(range(-2, 5, 1)))

[-2, -1, 0, 1, 2, 3, 4]

In [18]:
print(list(range(0,5, 2)))

[0, 2, 4]

In [19]:
print(list(range(2,5)))

[2, 3, 4]

In [22]:
print(list(range(0, 10,2)))

[0, 2, 4, 6, 8]

In [28]:
s = 0
for i in range(1, 11):
    s += i
    print(s)
    
print("Sum of numbers from 1 to 10: ", s)

1
3
6
10
15
21
28
36
45
55
Sum of numbers from 1 to 10:  55

In [30]:
sum = 0

for i in range(1, 11):
    sum += i
print("The sum of numbers fro m 1to 10: ", sum)
print(sum(range(1, 11)))

The sum of numbers fro m 1to 10:  55

TypeError: 'int' object is not callable

In [39]:
n = int(input())
s = 0
for n in range(n+1):
    s += n
print("Sum of numbers from 1 to 100", s)

 100

Sum of numbers from 1 to 100 5050

In [41]:
bts = ["V", "J-Hope", "RM", "Jungkook", "Jin", "Jimin", "Suga"]
for n in bts:
    print(n)

V
J-Hope
RM
Jungkook
Jin
Jimin
Suga

In [10]:
n = int(input("Enter a number:"))
fact = 1
for i in range(1, n+1):
    fact = fact * i
print(str(n) + "! =" , fact)

Enter a number: 5

5! = 120

In [11]:
numbers = [11, 22, 33 , 44, 55, 66]
for n in numbers:
    print("n =", n)

n = 11
n = 22
n = 33
n = 44
n = 55
n = 66

In [12]:
numbers = [10,20,30,40]
print('Sum of list items:', sum(numbers))

Sum of list items: 100

In [15]:
for ch in 'hello':
    print(ch, end = '')

hello

In [30]:
print('My name is ', end = input())

 te

My name is te

In [31]:
print('s', 'e', 'p', sep='-')

s-e-p

In [34]:
print('h','e','l','l', 'o', sep='*')

h*e*l*l*o

In [40]:
s = 0
for i in range(1, 100, 2):
    s += i
print("Sum of all odd numbers:", s)

Sum of all odd numbers: 2500

In [78]:
n = int(input("Enter n:"))
p = 0
for i in range(1, n+1):
    for x in range(1, n+1):
        p += 1

        sp= " " * 3
        spp = " " * 4
        
        if(len(str(p)) > 1):
            print(p, sp, end="")
        else:
            print(p, spp, end="")
    print()

Enter n: 5

1     2     3     4     5
6     7     8     9     10
11    12    13    14    15
16    17    18    19    20
21    22    23    24    25

In [1]:
n = int(input("Enter n:"))
p = 0
for i in range(1, n+1):
    for s in range(n-i):
        p += 1
        print(" ", end="")
    for x in range(1, 2*i):
        print(p, end="")
    print()

Enter n: 3

  2
 333
33333