In [3]:
alex = {"brand": "ford", "model": "mustang", "year": "1984"}
for x in alex:
    print(alex[x])

ford
mustang
1984

In [7]:
alexa = {"brand": "ford", "model": "mustang", "year": "1984"}
for n in alexa:
    print(n)

brand
model
year

In [14]:
alexe = {"brand": "ford", "model": "mustang", "year": "1984"}
for x,y in alexe.items():
    print(x,y)

brand ford
model mustang
year 1984

In [20]:
alexo = {"brand": "ford", "model": "mustang", "year": "1984"}
carro = alexo.copy()
print(carro)

{'brand': 'ford', 'model': 'mustang', 'year': '1984'}

In [22]:
mlex = {"brand": "ford", "model": "mustang", "year": "1984"}
sen = dict(mlex)
print(sen)

{'brand': 'ford', 'model': 'mustang', 'year': '1984'}

In [30]:
fam1 = {"child1":{"name": "timmy", "age":10, "food": "pie"}, "child2":{"name":"syd", "age":11, "food": "wings"}, "child3":{"name":"ras", "age":9, "food":"cake"}}
print(fam1)

{'child1': {'name': 'timmy', 'age': 10, 'food': 'pie'}, 'child2': {'name': 'syd', 'age': 11, 'food': 'wings'}, 'child3': {'name': 'ras', 'age': 9, 'food': 'cake'}}

In [38]:
agent1 = {"agenno": 47,
          "area": "kyiv"}
agent2 = {"agenno": 25,
          "area": "damascus"}
agent3 = {"agenno": 31,
          "area": "moscow"}
supplies = {"ag1": agent1,
            "ag2": agent2,
            "ag3": agent3}
print(supplies)

{'ag1': {'agenno': 47, 'area': 'kyiv'}, 'ag2': {'agenno': 25, 'area': 'damascus'}, 'ag3': {'agenno': 31, 'area': 'moscow'}}

In [89]:
import json

bio = '{"name": "haley", "age": 31, "hobby":["basketball", "reading", "food"], "family":{"father": "do1", "mother":"do2"}, "married": false}'

json_data = json.loads(bio)
print(type(json_data))
print(json_data["name"])
print(json_data["hobby"])
print(json_data["married"])

<class 'dict'>
haley
['basketball', 'reading', 'food']
False

In [15]:
#1. Loop through a list
l1 = [1,2,3,4,5,6,7,8,]
l2 = [i for i in l1]
for i in l2:
    print(i, end='')
print(l2)

12345678[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
#2. Sum of all elements in a list
l1 = [1,2,3,4,5,6,7,8,]
n = 0
for i in l1:
    n+= i
print(n)

36

In [31]:
#3. find maximum value in a list
l1 = [[1,2,3],[4,5,6,7,8]]
print(max(max(l1)))

8

In [37]:
#4. Sort a list in ascending order
sorted(l1)

[[1, 2, 3], [4, 5, 6, 7, 8]]

In [39]:
#5. Sort in descending order
sorted(l1, reverse=True)

[[4, 5, 6, 7, 8], [1, 2, 3]]

In [51]:
#6. Reverse a list using slicing
l1 = [[1,2,3],[4,5,6,7,8]]
l2 = l1[::-1]
print(l2)

[[4, 5, 6, 7, 8], [1, 2, 3]]

In [53]:
#7. Insert an element at a particular position
l1 = [[1,2,3],[4,5,6,7,8]]
l1[1][1] = 13
print(l1)

[[1, 2, 3], [4, 13, 6, 7, 8]]

In [65]:
#8. Delete an element from a specific position
l1 = [[1,2,3],[4,5,6,7,8]]
l1[1].pop(1)
print(l1)

[[1, 2, 3], [4, 6, 7, 8]]

In [3]:
#9 Delete all occurrences of a specific value
l1 = [1,2,3,6,6,3,4,4,5,6,7,8]
for i in l1:
    if l1[i]==6:
        l1.pop(i)
print(l1)

[1, 2, 3, 3, 4, 4, 5, 7, 8]

In [21]:
#10. Pop the last element
l1 = [1,2,3,6,6,3,4,4,5,6,7,8]
l1.pop()
print(l1)

[1, 2, 3, 6, 6, 3, 4, 4, 5, 6, 7]

In [33]:
#11. Pop an element from a specific position
l1 = [1,2,3,6,6,3,4,4,5,6,7,8]
l1.pop(2)
print(l1)

[1, 2, 6, 6, 3, 4, 4, 5, 6, 7, 8]

In [35]:
#12. Append a value from a list
l1.append(200)
print(l1)

[1, 2, 6, 6, 3, 4, 4, 5, 6, 7, 8, 200]

In [37]:
#13. Extend a list with another list
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [45]:
#14.Find the index of an element in a list
l2 = [1, 2, 6, 6, 3, 4, 4, 5, 6, 7, 8, 8,200]
l2.index(7)

9

In [47]:
#15 Remove duplicates from a list
new = list(set(l2))
print(new)

[1, 2, 3, 4, 5, 6, 7, 8, 200]

In [55]:
l3 = [1, 2, 6, 6, 3, 4, 4, 5, 6, 7, 8, 8,200]
new2 = []
for i in l3:
    if i not in new2:
        new2.append(i)
print(new2)

[1, 2, 6, 3, 4, 5, 7, 8, 200]